<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Nombre</label>
          <div class="input-group">
            <input id="name" class="form-control" placeholder="Nombre del producto" name="dp">
          </div>
          <label for="dateOfBirth">Descripción</label>
          <div class="input-group">
            <input id="description" class="form-control" placeholder="Descripción del producto" name="dp">
          </div>
          <label for="dateOfBirth">Precio en Euros</label>
          <div class="input-group">
            <input id="price" type="number" class="form-control" placeholder="€" name="dp" step="0.01" value="0.00">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Añadir Producto</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>