<h3>Api Rest de Productos</h3>

<app-temp-modal></app-temp-modal>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="name">Nombre</th>
    <th scope="col" sortable="area">Descripción</th>
    <th scope="col" sortable="population">Precio</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{ product.id }}</th>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.price }} €</td>
  </tr>
  </tbody>
</table>


