<h3>Soap based temperature converter</h3>

<div class="mb-3">
    <label for="centigrades" class="form-label">Grados centigrados</label>
    <input type="number" step="0.5" class="form-control" placeholder="ºC" id="centigrades" (click)="convertToFarenheit($event)" (keyup)="convertToFarenheit($event)">
</div>


<div class="mb-3 p-3">
    <p>{{farenheit}} Farenheit</p>
</div>